html {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  background-color: transparent;
}

.logo {
  width: 12%;
  height: 12%;
}

#registration-form .frm {
  height: auto;
  min-width: 450px;
  padding: 20px 30px 30px 50px;
  background-color: white;
  position: absolute;
  margin-top: 40%;
  margin-left: 40%;
  margin-right: -50%;
  margin-bottom: 20%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
}

h5 {
  text-align: left;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

/*iPad in portrait & landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #registration-form .frm {
    height: auto;
    width: 70%;
    min-width: 350px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 12%;
    margin-right: -50%;
  }
  html {
    background-size: 250%;
  }
}

/*iPhone 6, 7, & 8 in portrait & landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (max-device-height: 667px) {
  #registration-form .frm {
    height: auto;
    width: 70%;
    min-width: 350px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 9%;
  }
  html {
    background-size: 260%;
  }

  .logo {
    width: 20%;
    height: 20%;
  }
}

/*iPhone X in portrait & landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (max-device-height: 812px) {
  #registration-form .frm {
    height: auto;
    width: 70%;
    min-width: 350px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 9%;
  }
  html {
    background-size: 260%;
  }

  .logo {
    width: 20%;
    height: 20%;
  }
}

/*Galaxy S5*/
@media only screen and (min-device-width: 360px) and (max-device-width: 374px) and (-webkit-device-pixel-ratio: 3) {
  #registration-form .frm {
    height: auto;
    min-width: 340px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 9%;
  }
  html {
    background-size: 260%;
  }

  .logo {
    width: 20%;
    height: 20%;
  }
}

/*Phone 5 & 5S in portrait & landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) and (max-device-height: 639px) and (min-device-height: 568px) {
  #registration-form .frm {
    height: auto;
    min-width: 300px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 58%;
    left: 10%;
  }
  html {
    background-size: 260%;
  }

  .logo {
    width: 20%;
    height: 20%;
  }
}

/*pixel 2*/
@media only screen and (min-width: 411px) and (max-width: 767px) {
  #registration-form .frm {
    height: auto;
    width: 70%;
    min-width: 350px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 10%;
  }
  html {
    background-size: 260%;
  }

  .logo {
    width: 20%;
    height: 20%;
  }
}
